@font-face {
	font-family: general;
	src: url(./GeneralSans-Regular.otf);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	background-color: black;
	font-family: general, apple-system;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

#mini_circle {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: white;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
	z-index: 999;
}

/* #curtain {
	height: 100vh;
	width: 100%;
	z-index: 500;
	background-color: rgba(0, 0, 0, 0.3);
	background-color: #a3a3a3;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(2px);
} */
/* .curtainText > h1 {
	color: white;
} */

#main {
	margin: 0 70px 0 70px;
}
#nav {
	padding: 30px;
}
#nav > h3 {
	text-transform: capitalize;
	color: #a3a3a3;
	cursor: pointer;
	position: relative;
}
#nav > a {
	text-transform: uppercase;
	font-size: 2.7vh;
	color: #a3a3a3;
	text-decoration: none;
	position: relative;
}
#nav > a:hover {
	color: white;
}

#nav a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 1px;
	width: 0%;
	background-color: white;
	transition: all ease 0.6s;
}
#nav > a:hover::after {
	width: 100%;
}

.dropdown {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
}
.dropdown h3 {
	color: #a3a3a3;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #000;
	min-width: 160px;
	z-index: 1;
	right: -50%;
}

.dropdown-content a {
	color: #a3a3a3;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	transition: all ease 0.3s;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#data {
	color: #a3a3a3;
	margin-bottom: 150px;
}

#data > h1 {
	line-height: 200px;
	font-size: 200px;
	/* word-wrap: break-word; */
}
#data > h1:nth-child(2) {
	margin-left: 250px;
}

#links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	font-size: 20px;
}

#links > a {
	position: relative;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
#links > a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 0%;
	background-color: white;
	transition: all ease 0.6s;
}
#links > a:hover::after {
	width: 100%;
}
#skills {
	margin: 100px 0 150px 0;
}
#skills > h1 {
	color: #a3a3a3;
	text-align: center;
	font-size: 50px;
	text-underline-offset: 0.2em;
}
#skills_image {
	margin-top: 50px;
	/* height: 100vh; */
	/* background-color: yellowgreen; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 70px;
}
#skills_image > img {
	height: 200px;
	max-width: 200px;
}

#sections {
	margin-top: 200px;
}
#sections > .elem {
	text-transform: uppercase;
	font-size: 150px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: left;
}
.elem > img {
	position: absolute;
	height: 250px;
	width: 350px;
	/* top: 0; */
	/* opacity: 0; */
	display: none;
	z-index: 99;
	pointer-events: none;
}

#sections > .elem > a {
	text-decoration: none;
	color: #a3a3a3;
}

.about_text > img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	flex-shrink: 0;
	object-fit: cover;
}
.text_data {
	color: white;
	text-transform: capitalize;
	font-size: 20px;
	padding: 80px;
	line-height: 30px;
}

.about_text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0 0 500px;
}

button {
	border: 1px solid white;
	border-radius: 30px;
	background: transparent;
	color: white;
	margin-top: 10px;
	padding: 5px 20px;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
}
button:hover {
	background-color: white;
	color: black;
	transition: all 0.3s ease-in-out;
}

#channel {
	margin-top: 100px;
	color: #a3a3a3;
	height: 250px;
	text-transform: capitalize;
}

#channel_data > a {
	position: relative;
	text-decoration: none;
	font-size: 2vw;
	color: #a3a3a3;
}
#channel_data > a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 0%;
	background-color: white;
	transition: all ease 0.6s;
}
#channel_data > a:hover {
	color: white;
}
#channel_data > a:hover::after {
	width: 100%;
}
#footer {
	height: 20vh;
	font-size: 20px;
	background-color: #000;
}
#footer > .foot1 > p {
	color: #a3a3a3;
	text-transform: uppercase;
	margin: 0 10px;
}

#footer > .foot2 a {
	color: #a3a3a3;
	text-decoration: none;
	text-transform: capitalize;
	/* margin: 0 20px; */
	/* gap: 20px; */
	margin-right: 10px;
	position: relative;
}
.foot2 a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 0%;
	background-color: white;
	transition: all ease 0.6s;
}

#footer > .foot2 a:hover {
	color: white;
}

#footer > .foot2 a:hover::after {
	color: white;
	width: 100%;
}

@media screen and (max-width: 1235px) {
	#data h1:nth-child(2) {
		/* background-color: blue; */
		margin-left: 8%;
		/* word-break: break-all; */
	}
}
@media screen and (max-width: 995px) {
	#main {
		margin: 0;
	}
	#data h1 {
		font-size: 170px;
		line-height: 170px;
		margin-left: 5%;
	}
	#data h1:nth-child(2) {
		margin-left: 5%;
	}
}
@media screen and (max-width: 855px) {
	#data h1 {
		line-height: 130px;
		font-size: 130px;
	}
}
@media screen and (max-width: 670px) {
	#data h1 {
		text-align: center;
		line-height: 100px;
		font-size: 100px;
	}
	#nav {
		flex-direction: column;
	}
	#nav h3 {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 532px) {
	#data h1 {
		/* text-align: center; */
		/* line-height: 70px; */
		font-size: 80px;
		/* margin-left: 0; */
	}
	#data h1:nth-child(2) {
		margin-left: 2%;
	}
}

@media screen and (max-width: 1350px) {
	.about_text {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0;
		margin-top: 20px;
		padding: 0;
	}
	.about_text > button {
		align-items: center;
	}
}

@media screen and (max-width: 770px) {
	.about_text > img {
		height: 150px;
		width: 150px;
	}
	.about_text {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		margin: 0;
		margin-top: 20px;
		padding: 0;
	}
	.about_text > button {
		align-items: center;
	}

	#channel_data > a {
		font-size: 4vw;
	}
}

@media screen and (max-width: 770px) {
	#sections > .elem {
		font-size: 100px;
	}
	#links {
		font-size: 15px;
		gap: 20px;
	}
	#channel {
		height: 150px;
	}
	#footer {
		height: 15vh;
	}
}

@media screen and (max-width: 550px) {
	#sections > .elem {
		font-size: 80px;
	}
	#links {
		font-size: 12px;
		gap: 15px;
	}
	#channel_data > a {
		font-size: 6vw;
	}
	#channel {
		height: 100px;
	}
	#footer {
		height: 8vh;
	}
}

@media screen and (max-width: 490px) {
	#sections > .elem {
		font-size: 50px;
	}
	#footer {
		font-size: 15px;
	}
}
@media screen and (max-width: 1020px) {
	#channel_data > a {
		font-size: 6vw;
	}
}
